# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Training outputs
outputs/
